body{
    background-color: rgb(120, 172, 200);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    color: white;
    text-align: center;
    font-size: 60px;
}

.month-year {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    width: 150px;
}

.agenda {
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    text-align: center;
    padding: 5px;
    color: #3c3c3c;
}

.date {
    padding: 10px;
    text-align: center;
}

.date.inactive {
    color: #aaa;
}

.date.active {
    background-color: #c1005d9a;
    color: white;
    border-radius: 50%;
    width: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.date:hover {
    background-color: #ff007b;
    color: white;
    border-radius: 50%;
    width: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.date.selected {
    background-color: #ff007b; /* Pink color for selected date */
    color: white;
    border-radius: 50%;
    width: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.date.unavailable {
    background-color: #ccc; /* Gray color for unavailable dates */
    color: #666;
    cursor: not-allowed;
    pointer-events: none;
}

.data {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.selected-date {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.button {
    background-color: #ff007b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 20px;
}